<header id="main-navigation" class="main-nav">
    <div class="nav-items">
        <div class="nav-items__logo-section">
            <h2 class="nav-items__logo">
                <a class="nav-items__logo-link" href="#">Amathm</a>
            </h2>
        </div>
        <div class="nav-items__main-menu-section">
            <ul class="nav-items__main-menu">
                <li class="nav-items__menu-items">
                    <a class="nav-items__menu-links" href="#">Stack</a></li>
                <li class="nav-items__menu-items">
                    <a class="nav-items__menu-links" href="#">Youtube-API</a></li>
                <li class="nav-items__menu-items">
                    <a class="nav-items__menu-links" href="#">About</a></li>
                <li class="nav-items__menu-items">
                    <a class="nav-items__menu-links nav-items--last-link" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</header>