$nav-item-padding: 10px 25px;
$nav-bg-lightblue: lightblue;
$nav-primary-white: #fff;
.main-nav {
    .nav-items {
        display: flex;
        justify-content: space-between;
        // padding: 10px;
        background: $nav-bg-lightblue;
        .nav-items__logo-section {
            .nav-items__logo {
                padding: $nav-item-padding;
                .nav-items__logo-link {
                    text-decoration: none;
                    color: $nav-primary-white;
                }
            }
        }
        .nav-items__main-menu-section {
            .nav-items__main-menu {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                .nav-items__menu-items {
                    // background: grey;
                    padding: 10px 25px;
                    .nav-items__menu-links {
                        text-decoration: none;
                        padding: 10px;
                        color: $nav-primary-white;
                        &:hover {
                            color: none;
                        }
                        &.nav-items--last-link {
                            padding: 0;
                        }
                    }
                }
                .nav-items__menu-items {
                    &:last-of-type {
                        padding-right:0;
                        margin-right:20px;
                    }
                }
            }
        }
    }
}