.banner {
    .banner__bg {
        background: grey;
        height: 600px;
        position: relative;
        overflow: hidden;

        .banner__video {
            position: relative;
            right: 0;
            bottom: 0;
            // height: 100%;
            width: 100%;
            
        }
        .banner__content-bg {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            position: absolute;
            background-color: rgba(45, 47, 48, 0.8);
            bottom: 0;
            .banner__content-text {
                // background-color: rgba($color: #ffffff, $alpha: .8);
                border-radius: 40px;
                text-align: center;
                color: white;
                padding: 50px;
                font-size: 2rem;
            }
        }
    }
}