<section id="banner" class="banner">
    <div class="banner__bg">
        <video autoplay muted loop class="banner__video">
            <source [src]="videoUrl[1]" type="video/mp4">
            Your browser doesn't support html5 videos
        </video>
        <div class="banner__content-bg">
            <div class="banner__content-text">
                <p>A London based,</p>
                <p>Junior full stack software engineer</p>
                <p>With commercial experience in Angular, Java and NodeJs</p>
            </div>
        </div>
    </div>
</section>
