<!--
    A Navigation bar containing social links, in dark black background
    stretching the entire width of the webpage, must include
    github - linkedin - twitter - youtube
    And a click to copy email address - amathm.outlook.com
    aligned to the right of the viewport
    using icons - fontawesome icons
-->
<nav id="social-nav" class="social-nav">
    <ul class="social-nav__menu">
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">
                <fa-icon [icon]="['fab', 'github']"></fa-icon></a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">
                <fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">Personal Login</a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links" ngxClipboard [cbContent]="'amath.m@outlook.com'">
                amath.m@outlook.com
            </a>
        </li>
    </ul>
</nav>
