<!--
    A Navigation bar containting social links, in dark black backgroung
    stretching the entire width of the webpage, must include
    github - linkedin - twitter - youtube
    And a click to copy email address - amathm.outlook.com
    aligned to the right of the viewport
    using icons - fontawesome icons
-->
<nav id="social-nav" class="social-nav">
    <ul class="social-nav__menu">
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">Github</a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">LinkedIn</a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">Twitter</a>
        </li>
        <li class="social-nav__items">
            <a href="#" class="social-nav__links">Youtube</a>
        </li>
    </ul>
</nav>
